.card {
    background-color: oklch(70.8% 0 0);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  height: 266px;
}

.card h2 {
  font-size: 1.5em;
  margin: 12px 0;
}

.card p {
  color: #666;
}

a {
  color: oklch(49.9% 0.23 264);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}